.header {
position: relative;
bottom: 0.05vh;
right: 0.4vw;
width: 99.9vw;

  display: flex;
  justify-content: flex-end;
  height: 76px;
  background-color: rgb(245, 247, 252);
  border: 1px solid #e0e0e0;
}

.mat-icon{
  padding-right: 1vw;
}
.header-button {
  background-color: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.mat-menu-button {
  padding: 1vw;
  display: flex;
  align-items: center;
  background-color: rgb(245, 247, 252);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.mat-menu-button:hover {
  background-color: #f2f2f2;
}

.custom-menu-item{
  background-color: rgba(255, 255, 255, 1);
}
