<div class="sidebar">
  @for (item of [1,2,3]; track $index) {
  <mat-accordion class="accordion">
    <mat-expansion-panel hideToggle class="panel">
      <mat-expansion-panel-header class="panel-header">
        <div class="sidebar__tittle">
          Проект {{$index + 1}}
        </div>
      </mat-expansion-panel-header >
      <div class="sidebar__tasks">
        <div class="sidebar__text active">
          Задачи
        </div>
      </div>
      <div class="sidebar__chat">
        <div class="sidebar__text">
          Чат
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  }
  <button class="sidebar__addProject">
    <span>Добавить проект</span>
  </button>
</div>

